/* Frontend Mentor Challenge - QR code component  */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --body-font: "Outfit", sans-serif;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --fw-normal: 400;
  --fw-bold: 700;
  --mobile: 375px;
  --desktop: 1440px;
}

/* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

