/* Frontend Mentor - Product Preview card component */

@import 'css_reset.css';

/* ------------------------------ */
/* FONTS                          */
/* ------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');


/* ------------------------------ */
/* VARIABLES                      */
/* ------------------------------ */

:root {
  /* Primary */
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-very-dark-cyan: hsl(158, 36%, 20%);
  --color-cream: hsl(30, 38%, 92%);

  /* Neutral */
  --color-very-dark-blue: hsl(212, 21%, 14%);
  --color-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);

  /* font settings */
  --fw-regular: 500;
  --fw-bold: 700;
  --ff-accent: 'Fraunces', serif;
  --ff-regular: 'Montserrat', sans-serif;
}

/* ------------------------------ */
/* BASE STYLING                   */
/* ------------------------------ */

body {
  font-family: var(--ff-regular);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--color-dark-grayish-blue);
  text-size-adjust: none;
  line-height: 1.7;
  background-color: var(--color-cream);

  /* centralising card in the page */
  display: grid;
  align-items: center;
  margin: 1rem;

  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3 {
  line-height: 1;
}

/* ------------------------------ */
/* UTILITIES                      */
/* ------------------------------ */

.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

/* For accessibility & screen readers */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ------------------------------ */
/* BUTTON STYLING                 */
/* ------------------------------ */

.button {
  display: inline-flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;
  font-size: .925rem;
  font-weight: var(--fw-bold);
  background-color: var(--color-dark-cyan);
  color: var(--color-white);

  padding: .5rem 1.5rem;
}

.button[data-icon='shopping-cart']::before {
  content: '';
  width: 15px;
  height: 16px;
  background-image: url(../images/icon-cart.svg);
}

.button:is(:hover, :focus) {
  background-color: var(--color-very-dark-cyan);
}

/* ------------------------------ */
/* PRODUCT STYLING                */
/* ------------------------------ */

.product {
  /* Local scope variables */
  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  background-color: var(--color-white);
  border-radius: 0.5rem;
  overflow: hidden;
}

.product__content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}

.product__category {
  font-size: 0.8025rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.product__title {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--color-very-dark-blue);
}

.product__price {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--color-dark-cyan);
}